@model AppSenaJmoc.Models.Tecnico

@{
    ViewData["Title"] = "Informacion Tecnico";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Informacion Tecnico</h1>

<div>
    <h4 a class="btn btn-success">Tecnico</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre_Tecnico)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre_Tecnico)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Apellidos_Tecnico)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Apellidos_Tecnico)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telefono_Tecnico)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telefono_Tecnico)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email_Tecnico)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email_Tecnico)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ciudad_Tecnico)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ciudad_Tecnico)
        </dd>
    </dl>
</div>
<div>
    <a  class="btn btn-info" asp-action="Edit" asp-route-id="@Model.Id_Tecnico">Editar</a> |
    <a asp-action="Index">Regresar</a>
</div>
