@model AppSenaJmoc.Models.Presupuesto

@{
    ViewData["Title"] = "Borrar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Borrar Registro</h1>

<h3>Estas Seguro Borrar este Registro?</h3>
<div>
    <h4 class="btn btn-success" >Presupuesto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Total_Pagar_Presupuesto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Total_Pagar_Presupuesto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hora_Presupuesto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hora_Presupuesto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha_presupuesto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha_presupuesto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Equipo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Equipo.Marca_Equipo)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tecnico)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tecnico.Apellidos_Tecnico)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Detalle_presupuesto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Detalle_presupuesto.Id_detalle_Presupuesto)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id_Presupuesto" />
        <input type="submit" value="Borrar" class="btn btn-danger" /> |
        <a asp-action="Index">Regresar</a>
    </form>
</div>
